/* Общие стили */
h1,
h2 {
    margin: 0;
}

h1 {
    border: 2px solid rgba(205, 95, 227, 0.926);
    border-radius: 30px;
    padding: 15px;
    color: rgb(0, 13, 255);
    background: radial-gradient(circle, rgba(164, 212, 217, 1) 0%, rgba(219, 174, 238, 1) 40%, rgba(148, 187, 233, 1) 100%);
}

.specification {
    margin: 10px;
    border: 2px solid rgba(205, 95, 227, 0.926);
    border-radius: 30px;
    padding: 15px;
    max-width: 400px;
    text-align: center;
    color: rgb(2, 9, 11);
    background: radial-gradient(circle, rgba(164, 212, 217, 1) 0%, rgba(219, 174, 238, 1) 40%, rgba(148, 187, 233, 1) 100%);

}

h2 {
    margin-bottom: 10px;

    border-radius: 15px;
    padding: 10px;
}

body {
    background: radial-gradient(circle, rgba(164, 212, 217, 1) 83%, rgba(219, 174, 238, 1) 86%, rgba(179, 236, 201, 1) 94%, rgba(148, 187, 233, 1) 100%);
    display: flex;
    justify-content: center;
    font-family: "Playwrite VN Guides", cursive;
}


/* стиль для неправильного ответа */
.style-wrong {
    border: 2px solid red;
}

/* общий контейнер */
.container {
    background: linear-gradient(0deg, rgba(175, 195, 34, 1) 3%, rgba(105, 103, 217, 1) 28%, rgba(253, 187, 45, 1) 53%, rgba(223, 100, 158, 0.8828781512605042) 89%);

    border: 2px solid rgb(148, 30, 171);
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
}

/* обертка у каждой задачи */
.task-wrap {
    background-color: antiquewhite;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    border: 4px solid black;
    margin: 20px;
    padding: 20px;
}


/* 1 ЗАДАЧА*/


/* круг */
.task_1_circle {
    margin: 20px;
    padding: 20px;

    min-width: 100px;
    aspect-ratio: 1;

    border: 1px solid black;
    border-radius: 50%;

    background-color: yellow;
}

/* обертка ответов */
.response_wrapp {
    background: linear-gradient(90deg, rgba(19, 226, 196, 1) 12%, rgba(15, 164, 236, 1) 84%);

    display: flex;
    gap: 20px;
    padding: 15px;
}

/* сами ответы */
.response_wrapp div {
    background-color: rgb(207, 228, 247);
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

/* hover на ответы */
.response_wrapp div:hover {
    background-color: antiquewhite;
    transition: 0.35s
}

/* /1 ЗАДАЧА*/


/* 2 ЗАДАЧА*/
/* Контейнер задачи */
.div-wrapp-container {
    background-color: rgb(212, 187, 203);
    margin: 10px;
    padding: 10px;
    min-width: 550px;

    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    justify-content: center;

}

/* контейнер поговорок */
.div-wrapp {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;

}

/* каждая поговорка */
.task_2 .div-wrapp div {
    background-color: khaki;
    min-width: 180px;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgb(212, 187, 203);
    border-radius: 5px;
    cursor: pointer;
}

.div-wrapp div.active_task2 {
    border: 2px solid rgb(0, 0, 0);
}

.task_2 .three .saying {
    min-width: 280px;
}

.task_2 .two div {
    min-width: 212px;
}

/* див с импутом */
.div_form {
    background-color: rgb(214, 233, 159);
    padding: 15px;

    border: 1px solid black;
    border-radius: 20px;
}

/* Сам инпут */
.div_form .input {
    margin-right: 10px;
    padding: 10px;
    border: 2px solid blueviolet;
    border-radius: 20px;
}

/* кнопка */
.form-saying_btn {
    background-color: rgb(178, 114, 238);
    color: white;
    font-size: 14px;
    padding: 14px;
    border-radius: 19px;
    cursor: pointer;
}

.form-saying_btn:disabled {
    background-color: rgb(205, 177, 231);
    color: gray;
    cursor: not-allowed;
}

/* /2 ЗАДАЧА*/


/* 3 ЗАДАЧА*/
/* обертка всех 9 квадратов */
.div-wrapp_qadro {
    border: 4px solid black;
    display: flex;
}

/* каждый квадрат */
.dQ {
    width: 200px;
    aspect-ratio: 1;
    border: 1px solid black;
    background-color: rgb(199, 228, 243);
    position: relative;
}

/* внутренний эл.квадратов */
.dQ div {
    width: 50%;
    aspect-ratio: 1;
    background-color: rgb(13, 70, 238);
    position: absolute;
}

#dQ1 div {
    top: 0;
}

#dQ2 div {
    bottom: 0;
}

#dQ3 div {
    right: 0;
}

#dQ4 div {
    right: 0;
    bottom: 0;
}

/* /3 ЗАДАЧА*/

/* 4 ЗАДАЧА*/
/* главный контейнер */
.wrapp-container {
    background: radial-gradient(circle, rgba(146, 227, 236, 1) 4%, rgba(148, 187, 233, 1) 73%);
    padding: 20px;
    border: 1px solid black;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

/* контейнеры куда дропать и основные */
.drop-wrapp,
.main-wrapp {
    border: 1px solid black;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.drop-wrapp div,
.main-wrapp div {
    border: 2px solid black;
    background-color: rgb(144, 143, 152);
}



.drop {
    opacity: 50%;
}

.main-wrapp div {
    cursor: grab;
    background-color: rgb(31, 9, 235);
}

.main_circle {
    opacity: 100%;
}

/* фигуры */
.drop_circle,
.main_circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.drop_square,
.main_square {
    width: 50px;
    height: 50px;
    /* opacity: 50%; */
}

.drop_rectangle,
.main_rectangle {
    height: 50px;
    width: 100px;
}

.drop-wrapp div.drag-over-yellow {
    border: 2px solid rgb(255, 179, 0);
    transition: 0.15s;
}

.сongratulations {
    margin: 0 auto;
    font-size: 28px;
    font-weight: bold;
    color: rgb(244, 244, 244);
}

/* /4 ЗАДАЧА*/

/* 5 ЗАДАЧА*/
/* главное число */
.number {
    padding: 10px 20px;
    font-size: 46px;
    font-weight: bold;
    border: 3px solid black;
    background-color: rgb(194, 232, 236);
}

/* контейнер ответов */
.response-wrapp {
    font-size: 20px;
    display: flex;
    gap: 20px;
    background: linear-gradient(90deg, rgba(19, 226, 196, 1) 12%, rgba(15, 164, 236, 1) 84%);
    padding: 10px;
    border-radius: 10px;
}

/* "кнопки"ответов */
.response-wrapp div {
    background-color: rgb(207, 228, 247);
    border: 2px solid black;
    border-radius: 15px;
    padding: 7px 15px;
    cursor: pointer;
}

.response-wrapp div:hover {
    background-color: antiquewhite;
    transition: 0.35s
}

/* /5 ЗАДАЧА*/

/* 6 ЗАДАЧА*/
/* картинки */
.animal-wrapp img,
.house-wrapp img {
    max-width: 200px;
    aspect-ratio: 1/1;
}

/* контейнер общий */
.house-animal-wrapp {
    display: flex;
    padding: 20px;
    gap: 10px;
}

/* контейнер домов и животных */
.animal-wrapp,
.house-wrapp {
    max-width: 450px;
    display: flex;
    padding: 20px 20px;
    background-color: rgb(116, 114, 244);
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

/* дивы животных */
.animal-wrapp img {
    cursor: grab;
    border: 2px solid black;
}

.house-wrapp>div {
    min-height: 100px;
}

.house-wrapp img {
    border: 2px solid black;
}

.animal-wrapp.сongratulations {
    justify-content: center;
    font-size: 48px;
}

/* /6 ЗАДАЧА*/




/* MEDIA ЗАПРОС 1125 px*/

@media (max-width: 1125px) {
    .task_6 {
        margin: 5px;
        padding: 5px;
    }

    .house-animal-wrapp {
        padding: 5px;
    }

    .animal-wrapp img,
    .house-wrapp img {
        max-width: 175px;
        aspect-ratio: 1/1;
    }
}
/* MEDIA ЗАПРОС 950 px*/
@media (max-width: 950px) {

    .animal-wrapp img,
    .house-wrapp img {
        max-width: 140px;
        aspect-ratio: 1/1;
    }
    .animal-wrapp,
    .house-wrapp {
        padding: 10px 5px;
        gap: 10px;
    }

}

/* MEDIA ЗАПРОС  768 px*/

@media (max-width: 768px) {

    /* ОБЩИЕ */
    .task-wrap {
        padding: 20px 10px;
    }

    /* СТИЛИ ВО 2 ЗАДАЧЕ */
    .task_2 h2 {
        max-width: 245px;
    }

    .div-wrapp-container {
        min-width: 200px;
        flex-direction: column;
    }

    .task_2 .three .saying {
        min-width: 330px;
    }

    /* /СТИЛИ ВО 2 ЗАДАЧЕ */

    /* СТИЛИ В 3 ЗАДАЧЕ */

    .dQ {
        width: 150px;
    }

    /* /СТИЛИ В 3 ЗАДАЧЕ */


    /* СТИЛИ В 6 ЗАДАЧЕ */
    .animal-wrapp img,
    .house-wrapp img {
        width: 150px;
    }

    .animal-wrapp,
    .house-wrapp {
        align-items: center;
    }

    .animal-wrapp.сongratulations {
        font-size: 32px;
        text-align: center;
    }

    /* /СТИЛИ В 6 ЗАДАЧЕ */
}

/* MEDIA ЗАПРОС  576 px*/
@media (max-width: 550px) {

    /* ОБЩИЕ СТИЛИ */
    body {
        font-size: 13px;
    }

    h1 {
        color: white;
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    .specification {
        max-width: 250px;
    }

    .task-wrap {
        margin: 10px;
        padding: 10px;
    }

    /* /ОБЩИЕ СТИЛИ */

    /* СТИЛИ 1 ЗАДАЧИ */
    .task_1_circle {
        margin: 10px;
        padding: 10px;
        min-width: 50px;
    }

    .response_wrapp {
        gap: 10px;
        padding: 5px;
    }

    .response_wrapp div {
        border-radius: 10px;
        padding: 5px;
    }

    /* /СТИЛИ 1 ЗАДАЧИ */


    /* СТИЛИ 2 ЗАДАЧИ */
    .task_2 h2 {
        text-align: center;
    }

    .div-wrapp-container {
        padding: 5px;
        margin: 5px;
    }

    .task_2 .three .saying {
        min-width: 100px;
        margin: 2px;
        padding: 5px;
    }

    .div-wrapp {
        padding: 5px;
        font-size: 11px;
        font-weight: 600;
    }

    .div_form {
        padding: 10px;
        border-radius: 10px;
    }

    .div_form .input {
        margin-right: 5px;
        padding: 5px;
        border-radius: 10px;
    }

    .form-saying_btn {

        font-size: 12px;
        padding: 10px;
        border-radius: 15px;
        cursor: pointer;
    }

    /* /СТИЛИ 2 ЗАДАЧИ */

    /* СТИЛИ В 3 ЗАДАЧЕ */

    .dQ {
        width: 100px;
    }

    /* /СТИЛИ В 3 ЗАДАЧЕ */

    /* СТИЛИ В 4 ЗАДАЧЕ */

    .wrapp-container {
        padding: 10px;
        gap: 25px;
    }

    .drop-wrapp,
    .main-wrapp {
        padding: 10px;
        gap: 10px;
    }

    /* /СТИЛИ В 4 ЗАДАЧЕ */


    /* СТИЛИ В 5 ЗАДАЧЕ */
    .number {
        padding: 10px 20px;
        font-size: 30px;
    }

    .response-wrapp {
        font-size: 13px;
        gap: 10px;
        padding: 5px;
    }

    /* /СТИЛИ В 5 ЗАДАЧЕ */


    /* СТИЛИ В 6 ЗАДАЧЕ */
    .task_6 h2 {
        max-width: 200px;
        text-align: center;
        margin: 0;
    }

    .task_6 {
        margin: 5px;
        padding: 5px;
        gap: 5px;
    }

    .house-animal-wrapp {
        padding: 10px;
        gap: 10px;
    }

    .animal-wrapp,
    .house-wrapp {
        max-width: 105px;
        padding: 10px 5px;
        gap: 10px;
        justify-content: normal;
        align-items: center;
    }

    .animal-wrapp img,
    .house-wrapp img {
        width: 100px;
    }

    .animal-wrapp.сongratulations {
        font-size: 22px;
        text-align: center;
    }
    /* /СТИЛИ В 6 ЗАДАЧЕ */
}